asgiref==3.8.1
certifi==2026.5.20
charset-normalizer==3.4.7
cloudinary==1.44.2
Django==5.0.7
django-cloudinary-storage==0.9.4
gunicorn==23.0.0
idna==3.18
obs-websocket-py==1.0
packaging==26.2
pillow==12.2.0
python-dotenv==1.2.2
requests==2.34.2
six==1.17.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
websocket-client==1.9.0
whitenoise==6.8.2